/* @media screen and (max-width:992px){
    .nav-container{
        flex-direction: column;
        align-items: center;
    }
    .banner-container {
        flex-direction: column;
    }
    .habits-items{
        grid-template-columns: repeat(2,1fr);
    }

}
@media screen and (max-width:576px) {
    .nav-hamburger-menu{
        display: block;
    }
    /* .container{
        width: 60%;
        padding: 20px; */
    /* }
    .nav-options{
        display: none;
    }
    .nav-container{
        flex-direction: row;
        align-items: center;
        /* padding: 150px; */
    /* }
    .banner-container {
        flex-direction: column;
    }
    .habits-items{
        grid-template-columns: repeat(1,1fr);
    }
} */ 