@media screen and (max-width:576px) {
    .nav-options{
        display: none;
    }
    .nav-hamburger-menu{
        display: block;
        color: white;
        font-size: 20px;
    }
    .banner-container{
        flex-direction: column;
        padding-top: 2rem;
    }
    .button-flex{
        
        gap: 10px;
    }
    .nav-container{
        align-items: center;
    }
    .banner-title{
      font-size: 50px;
    }
    .banner-description{
        font-size: 12px;
    }
    .btn-primary{
        padding: 10px 20px;
        font-size: 16px;
    }
    .btn{
        padding: 10px 20px;
        font-size: 16px;

    }
    .design-1{
        width: 160px;
        height: 80px;
        top: 150%;
        right:57% ;

    }
    .design-2{
        top: 105%;
        left: 53%;
        width: 170px;
        height: 80px;
    }
    
    .habits-items{
        grid-template-columns: repeat(1,1fr);

    }
    .habits-title{
        font-size: 30px;
    }
    .habits-description{
        font-size: 12px;
        width: 395px;
    }
    .habit-card p{
        margin-bottom: 30px;
    }
    .second-section-container{
        flex-direction: column;
    }
    .second-section-image img{
        height: 80%;
        width: 87%;
        padding: 20px;
    }
    .section-title{
        font-size: 25px;
    }
    .second-section-content{
        padding: 20px;
    }
    .second-section-content .btn-primary{
       
        width: 100%;
    }
    .fourth-section-content h1{
        font-size: 38px;
    }
    .fifth-section{
        flex-direction: column;
        

    }
   
}